.header__lang-link {
  font-family: "Inter";
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: #ffffff;
  text-align: right;
}

.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link:last-of-type {
  text-decoration: none;
  margin-left: 18px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
