.cover__background {
  background: center center no-repeat
    url("../../../sprint-3-images/cover-trains.jpg");
  width: 100%;
  min-height: 740px;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    width: 320px;
    min-height: 200px;
  }
}
