.place {
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 830px) {
  .place {
    grid-template-columns: 330px 1fr;
    margin: 0 0 73px;
    column-gap: 28px;
  }
}
@media screen and (max-width: 630px) {
  .place {
    margin: 0 0 50px;
    grid-template-columns: 1fr;
    row-gap: 32px;
    column-gap: 0;
  }
}
