.footer {
  margin: 0 48px 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    margin: 0 auto 24px 16px;
  }
}
